@page "/dictionary"
@using OnlineCompiler.Shared
@inject HttpClient _http
@using Microsoft.AspNetCore.Components
@inject IStringLocalizer<Localization> _loc

<PageTitle>C#Core2.0</PageTitle>

<div class="container my-5">
    <div class="text-center">
        <h2>Словарь (Dictionary)</h2>
    </div>
    <p>Словарь (Dictionary) - это структура данных, которая представляет собой набор пар "ключ-значение". Ключи должны быть уникальными, а значения могут повторяться.</p>
    <p>Словари используются для хранения и быстрого доступа к данным, которые можно идентифицировать уникальным ключом.</p>

    <p>Вот визуальное представление внутренней структуры словарь:</p>
    <img src="2.jpg" width="70%" height="50%" alt="Визуальное представление внутренней структуры словарь">

    <h3>Основные операции со словарем</h3>
    <ul>
        <li>Add(key, value) - добавление новой пары "ключ-значение" в словарь</li>
        <li>Remove(key) - удаление пары "ключ-значение" из словаря по ключу</li>
        <li>ContainsKey(key) - проверка наличия ключа в словаре</li>
        <li>ContainsValue(value) - проверка наличия значения в словаре</li>
        <li>TryGetValue(key, out value) - получение значения по ключу. Если ключ не найден, возвращает false.</li>
        <li>Keys - получение коллекции ключей</li>
        <li>Values - получение коллекции значений</li>
    </ul>
</div>

@if (_userExecuted)
{
    <button class="btn btn-warning" @onclick="ToggleCode">@if (_showCode) {<text>Скрыть полный код разработчиков</text>} else {<text>Показать полный код разработчиков</text>}</button>
    if (_showCode)
    {
        <p></p>
        <CodeEditor @bind-Code="_innerCode">@TemplateDictionary.DictionaryCode</CodeEditor>
        <br/>
    }
}                                                                                                               

    <p></p>
<p>Пишите свой код тут, методы, которые нуждаются в реализации помечены комментарием "Нужна реализация": </p>
<CodeEditor @bind-Code="_userInnerCode">@TemplateDictionary.UserDictionaryCode</CodeEditor>
<br />
<button class="btn btn-primary @(ExecuteButtonDisabled?"disabled":"")" @onclick="@(async () => { _userExecuted = true; await UserExecuteCode(); })">@_loc["Execute"]</button>

<br />
@if (_executionInfo != null)
{
    <text>&nbsp;</text>
    switch (_executionInfo.Status)
    {
        case ExecutionInfo.ExecutionStatus.Preparing:
            {
                <status-indicator pulse />
                <label>@_loc["Preparing"]</label>
                break;
            }
        case ExecutionInfo.ExecutionStatus.Compiling:
            {
                <status-indicator active />
                <label>@_loc["Compiling"]</label>
                break;
            }
        case ExecutionInfo.ExecutionStatus.CompilationError:
            {
                <status-indicator negative />
                <label>@_loc["CompilationError"]</label>
                break;
            }
        case ExecutionInfo.ExecutionStatus.Running:
            {
                <status-indicator active pulse />
                <label>@_loc["Running"]</label>
                break;
            }
        case ExecutionInfo.ExecutionStatus.Finished:
            {
                <status-indicator positive />
                <label>@_loc["Finished"]</label>
                break;
            }
        case ExecutionInfo.ExecutionStatus.WithWarning:
        {
            <status-indicator positive />
            <label>Выполнено с замечаниями</label>
            break;
        }
    }
    <br />
    if (OutputSplitByNewLines != null)
    {
        @foreach (string line in OutputSplitByNewLines)
        {
            <p>@line</p>
        }
        <p>Время: @_executionInfo.CompilerTime мс</p>
    }
     if (_executionInfo != null && _executionInfo.Hints.Count > 0)
    {
        <br />
        int addc = 0;
        int removec = 0;
        int findc = 0;
        <div class="container">
        <div class="row row-cols-1" style="margin-right: 10px; width: 350px; float:left;">
            @if (_executionInfo.Hints.Any(x => x.Contains(addStr)) && showAdd)
            {
                <button style="margin-bottom: 7px" class="btn btn-info" @onclick="AddCode"><text>Показать подсказку по методу Add</text></button>
            }
            @if (_executionInfo.Hints.Any(x => x.Contains(removeStr)) && showRemove)
            {
                <button style="margin-bottom: 7px" class="btn btn-info" @onclick="RemoveCode"><text>Показать подсказку по методу Remove</text></button>
            }
            @if (_executionInfo.Hints.Any(x => x.Contains(findStr)) && showFind)
            {
                <button style="margin-bottom: 7px" class="btn btn-info" @onclick="FindCode"><text>Показать подсказку по методу Find</text></button>
            }
        </div>
         <div class="row row-cols-1" style="margin-left: 10px;">

        @foreach (string line in _executionInfo.Hints)
        {
            if (line.Contains(addStr) && addc < AddCount)
            {
                addc++;
                <p>@line</p>
                if (addc >= _executionInfo.Hints.Count(x => x.Contains(addStr)))
                {
                    showAdd = false;
                }
            }
            else if (line.Contains(removeStr) && removec < RemoveCount)
            {
                removec++;
                <p>@line</p>
                if (removec >= _executionInfo.Hints.Count(x => x.Contains(removeStr)))
                {
                    showRemove = false;
                }
            }
            else if (line.Contains(findStr) && findc < FindCount)
            {
                findc++;
                <p>@line</p>
                if (findc >= _executionInfo.Hints.Count(x => x.Contains(findStr)))
                {
                    showFind = false;
                }
            }
        }
        </div>
        </div>
    }
}

@code
{
    string addStr = "TryInsert";
    string removeStr = "Remove";
    string findStr = "FindValue";
    
    int AddCount = 0;
    int RemoveCount = 0;
    int FindCount = 0;
    
    bool showAdd = true;
    bool showRemove = true;
    bool showFind = true;
    
    void AddCode()
    {
        AddCount++;
    }
    
    void RemoveCode()
    {
        RemoveCount++;
    }
    
    void FindCode()
    {
        FindCount++;
    }

    bool _showCode;

    void ToggleCode()
    {
        _showCode = !_showCode;
    }
    bool _userExecuted;
    private string? _innerCode;
    private string? _userInnerCode;

    private bool ExecuteButtonDisabled = false;
    
    /// <summary>
    /// Information about code execution operation
    /// </summary>
    private ExecutionInfo? _executionInfo;
    /// <summary>
    /// Output from ExecutionInfo, split by Environment.NewLine
    /// </summary>
    private IEnumerable<string>? OutputSplitByNewLines => _executionInfo?.Output.Split(Environment.NewLine);

    private async Task UserExecuteCode()
    {
        if (_userInnerCode != null && !ExecuteButtonDisabled)
        {
            ExecuteButtonDisabled = true;
            _executionInfo = new ExecutionInfo(ExecutionInfo.ExecutionStatus.Running, "");
            var userresponse = await _http.PostAsJsonAsync("Execution/Dictionary", value: _userInnerCode);
            ExecutionInfo? result = await userresponse.Content.ReadFromJsonAsync<ExecutionInfo>();
            _executionInfo = result;
            ExecuteButtonDisabled = false;
        }
    }
}

